[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
django-cors-headers = "*"
djangorestframework = "*"
graphene-django = "*"
python-dateutil = "*"
Django = "==3.2.12"
Pillow = "*"
django-environ = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-graphql-jwt = "*"
django-graphql-auth = "*"
django-filter = "*"
colorlog = "*"
black = "*"
django-storages = "*"
boto3 = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
