[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
django-cors-headers = "*"
djangorestframework = "*"
graphene-django = "*"
python-dateutil = "*"
Django = "==3.2.12"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
